* {
    padding: 0;
    letter-spacing: 1.3px;
}

body {
    background-color: rgb(117, 117, 217);
    margin: 5;
    text-align: center;
    font-family: sans-serif, Arial, Helvetica;
}

h1 {
    color: rgba(255, 255, 255, 255);
    margin: 0%;
}

h2 {
    color: rgb(33, 19, 88);
    margin: 0%;
}


.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid;
    border-color: blue;
    max-width: 500px;
    background-color: rgb(182, 1, 198);
    padding: 0px;
    aspect-ratio: 1 / 1;
}

.grid>div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    margin: 2px;
    /* border: 1px solid black; */
    justify-items: center;
    align-items: center;
}

.box>input {
    cursor: pointer;
    text-align: center;
    background-color: white;
    border: 0px;
    width: 95%;
    font-size: xx-large;
    font-weight: bold;
    aspect-ratio: 1 / 1;
}

button {
    cursor: pointer;
    text-align: center;
    background-color: gold;
    border: 2px solid black;
    border-radius: 20px;
    padding: 6px;
    margin: 10%;
    font-size: large;
}

button:hover {
    background-color: orange;
}

button:active {
    color: red;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.buttons {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: .5fr repeat(3, 1fr);
}

#difficulty {
    cursor: pointer;
    margin-left: 10px;
    background-color: aqua;
    padding: 0;
    width: 100%;
    height: 30px;
    opacity: .7;
}

#difficulty:hover {
    opacity: 1;
}

#difficulty::-webkit-slider-runnable-track {
    border: 2px solid #000000;
    background: yellow;
    border-radius: 14px;
}

#difficulty:active::-webkit-slider-runnable-track {
    background: gold;
}


#difficulty::-moz-range-thumb {
    background: rgb(209, 11, 182);
}


.b1 input,
.b3 input,
.b7 input,
.b9 input {
    background-color: gold;
}

.b2 input,
.b4 input,
.b6 input,
.b8 input {
    background-color: cyan;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        margin: 3px;
    }

    button {
        margin: 0;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 1fr;
        justify-items: center;
    }

    #difficulty {
        grid-column-end: span 3;
    }
}